*{
    padding: 0;
    margin: 0;
}

body{
    margin-left: 34px;
    margin-right: 34px;
}

.nav-container{
    display:flex;
    background-color:blue;
    gap:1rem;
    justify-content: right;
    padding:3rem;
   
    font-size: larger;
    font-weight: bold;
   
    
}

h1{
    padding:1rem;
    
}

.nav-container a{
    text-decoration: none;
    color:white;
    margin:1rem;

    border-radius: 1rem;
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

button{
    padding: 1rem;
    background-color: blue;
    color: aliceblue;
    border-color: azure;
}

.ow{
    display: block;
   background-color: rgb(232, 232, 225);}

fieldset{
    margin:1rem;
}

#outputDiv, #output{
    font-size: large;
    color:blue;
    font-weight: bold;
}