*{
    padding: 0;
    margin: 0;
}


.nav-container{
    display:flex;
    background-color:rgb(1, 1, 36);
    gap:1rem;
    
    padding:1rem;
    flex-wrap: wrap;
   
    font-size: larger;
    font-weight: bold;
   
    
}

h1{
    padding:1rem;
    
}

.nav-container a{
    text-decoration: none;
    color:white;
    margin:1rem;

    border-radius: 1rem;
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 244, 244);
    
}

h1{
    text-align: center;
}

button{
    padding: 1rem;
    background-color:rgb(1, 1, 36);
    color: aliceblue;
    border-color: azure;
    font-size: large;
    border-radius: 1rem;
    
}

.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:4rem;
    background-color: rgb(234, 244, 244);
   
}

.ow{
    display: block;
    text-align: center;
    background-color: rgb(234, 244, 244);}

fieldset{
    margin:1rem;
}

#outputDiv, #output{
    font-size: large;
    color:rgb(1, 1, 36);
    font-weight: bold;
    text-align: center;
}

label{
    font-size: large;
    font-weight: bold;
}

.inputs{
    font-size: larger;
}

a:hover{
    color:orangered;
}